{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
- Shopping bag
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block content %}
<!-- Credit: Bootstrap Alerts @ https://getbootstrap.com/docs/5.0/components/alerts/ -->
<div class="alert alert-warning text-center mb-0 main--alert" role="alert">
    Spend <span class="fw-bold">€{{ free_collectible_threshold }}</span> or more and get a Special Collectible for 
    <span class="fw-bold text-uppercase">free</span>!
</div>
<!-- /End of Credit -->

<section class="container text-center">
    <h2 class="mt-5 mb-lg-5">Shopping bag</h2>
    <div class="row">
        <!-- Product Details Section -->
        {% if bag_items %}
            <div class="col-lg-9">
                <hr class="d-lg-none">
                <div class="d-none d-lg-block">
                    {% include "bag/product_details_desktop.html" %}
                </div>
                <div class="d-lg-none">
                    {% include "bag/product_details_mobile.html" %}
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-3 mt-lg-2">
                {% include "bag/order_summary_desktop.html" %}
            </div>
            <!-- If No Items In bag -->   
        {% else %}
            <div>
                <p class="mt-3">Your shopping bag is empty. Check out our latest offers!</p>
                {% include "bag/bag_empty_desktop.html" %}
                <a class="btn btn-warning mt-5 mb-5 w-auto" href="{% url 'products' %}">
                    <i class="fas fa-chevron-left"></i> Keep Shopping
                </a>
            </div>
        {% endif %}
    </div>
</section>

<!-- Credit: MDB Modal @ https://mdbootstrap.com/docs/standard/components/modal/ -->
<!-- Modal -->
<div id="deliveryCostModal" class="modal fade" tabindex="-1" aria-labelledby="deliveryCostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryCostModalLabel">Delivery Cost</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            You will get <span class="fw-bold">FREE delivery</span> for order <span class="text-decoration-underline ">€200</span> or more.
            <br>10% on the order value will be charged as a delivery fee if your order is less than €200.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<!-- /End of Credit -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/bag/remove/${itemId}/`;
        let data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}