{% load static %}
<!-- Free Collectible Details -->
<tr>
    <td>
        <img class="bag--product--image" src="{% static 'images/free-collectible.png' %}" alt="Free Collectible">
    </td>
    <td class="text-start">
        <p class="fw-bold">FREE Collectible:</p>
        <h6 class="card-title">The One Ring</h6>
        <p class="small text-muted">Product ID: LOTRC2021000</p>
        <p>Price: €0.00</p>
    </td>
    <td>
        <p>1</p>
    </td>
    <td>
        <p class="text-end">€0.00</p>
    </td>
</tr>
