{% load static %}
<div class="col-md-4">
    <img class="img-fluid w--35" src="{% static 'images/free-collectible.png' %}" alt="Free Colelctible">
</div>
<div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">FREE Collectible</h5>
        <h6 class="card-title">The One Ring</h6>
        <p class="small text-muted">Product ID: LOTRC2021000</p>
        <p class="d-md-none">Qty: 1</p>
        <p class="d-inline d-md-none">€0.00</p>
    </div>
</div>

<div class=col-md-4>
    <p class="d-none d-md-inline">Qty: 1</p>
</div>
<div class="col-md-4">
    <p class="d-none d-md-inline">Price:</p>
    <p class="d-none d-md-inline">€0.00</p>
</div>
<div class="col-md-4 mt-3 mt-md-0 mb-3">
    <p class="d-inline">Sub Total</p>
    <p class="d-inline fw-bold">€0.00</p>
</div>

