{% load bag_tools %}

<!-- Credit: MDB Tables @ https://mdbootstrap.com/docs/standard/data/tables/ -->
<table class="table ">
    <!-- Product Details Headings -->
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Qty</th>
            <th class="text-end" scope="col">Sub Total</th>
        </tr>
    </thead>
    <tbody>
        <!-- Product Details -->
        {% for item in bag_items %}
        <tr>
            <td>
                {% if item.product.image %}
                <img id="w--35" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                {% else %}
                <img id="w--35" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                {% endif %}
            </td>
            <td class="text-start">
                <p class="fw-bold">{{ item.product.name }}</p>
                <p class="small text-muted">Product ID: {{ item.product.sku }}</p>
                {% if not item.product.is_discount %}
                <p>Price: €{{ item.product.price }}</p>
                {% else %}
                <p>Price: €{{ item.product.discount_price }}</p>
                {% endif %}
            </td>
            <!-- Quantity Form -->
            <td>
                {% include "bag/qty_form.html" %}
            </td>
            <td>
                {% if not item.product.is_discount %}
                <p class="text-end">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                {% else %}
                <p class="text-end">€{{ item.product.discount_price | calc_subtotal:item.quantity }}</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% if free_collectible_delta == 0 %}
    {% include "bag/free_collectible_desktop.html" %}
    {% endif %}
</table>