{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Credit: Bootstrap Alerts @ https://getbootstrap.com/docs/5.0/components/alerts/ -->
<div class="alert alert-warning text-center mb-0 main--alert" role="alert">
  Spend <span class="font-weight-bold">€{{ free_collectible_threshold }}</span> or more and get a Special
  Collectible for <span class="font-weight-bold text-uppercase">FREE</span>!
</div>
<!-- /End of Credit -->

<!-- Carousel wrapper - Products Banner -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.postimg.cc/RC6hrH48/19.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/hvWBRh0W/15.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/B610z2HB/17.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/fRZR0qmn/20.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/wT56H5PW/18.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/jjM02ZQX/25.png" class="d-block w-100" alt="..." />
      <a class="btn btn-lg btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/FKzmjMKq/14.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/6p9BQ2xB/16.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/Y94rw5Kg/26.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/hv7HCgFy/21.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/Wzgsd041/23.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/wjVT55Qt/24.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/grF1Q5mY/22.png" class="d-block w-100" alt="..." />
      <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}"
        title="Shop Now button">Shop Now</a>
    </div>
  </div>
</div>
<!-- Shop by Brand Logos -->
<section id="popular--brand" class="text-center container">
  <h2 class="mt-4 mb-md-4 ">Shop by Brand</h2>
  <div class="row mt-3 mt-md-3 mt-lg-5">
    <div class="col-6 col-lg-3 hvr-float-shadow">
      <a href="{% url 'products' %}?brand=iron_studios"><span class="vertical--align--middle"></span>
        <img class="brand--logo" src="{% static 'images/ironstudios.png' %}" alt="Popular Brand Iron Studios"></a>
    </div>
    <div class="col-6 col-lg-3 hvr-float-shadow">
      <a href="{% url 'products' %}?brand=prime_1_studio"><span class="vertical--align--middle"></span>
        <img class="brand--logo" src="{% static 'images/prime1studio.png' %}" alt="Popular Brand Prime 1 Studio"></a>
    </div>
    <div class="col-6 col-lg-3 hvr-float-shadow">
      <a href="{% url 'products' %}?brand=weta_workshop"><span class="vertical--align--middle"></span>
        <img class="brand--logo" src="{% static 'images/wetaworkshop.png' %}" alt="Popular Brand Weta Workshop"></a>
    </div>
    <div class="col-6 col-lg-3 hvr-float-shadow">
      <a href="{% url 'products' %}?brand=asmus"><span class="vertical--align--middle"></span>
        <img class="brand--logo" src="{% static 'images/asmus-collectible.png' %}" alt="Popular Brand Asmus Collectible"></a>
    </div>
  </div>
</section>

<!-- Credit: MDB Modal @ https://mdbootstrap.com/docs/standard/components/modal/ -->
<!-- Modal -->
<div id="deliveryCostModal" class="modal fade" tabindex="-1" aria-labelledby="deliveryCostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content rounded-0">
          <div class="modal-header">
              <h5 class="modal-title" id="deliveryCostModalLabel">Delivery Cost</h5>
              <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
      <div class="modal-body">
          You will get <span class="fw-bold">FREE delivery</span> for order <span class="text-decoration-underline ">€200</span> or more.
          <br>10% on the order value will be charged as a delivery fee if your order is less than €200.
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Close</button>
      </div>
      </div>
  </div>
</div>
<!-- /End of Credit -->
{% endblock %}