{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Credit: Bootstrap Alerts @ https://getbootstrap.com/docs/5.0/components/alerts/ -->
<div class="alert alert-warning text-center mb-0 main--alert" role="alert">
  Spend <span class="font-weight-bold">&#128;200</span> or more and get a Special Random Collectible for <span
    class="font-weight-bold">FREE</span>!
</div>
<!-- /End of Credit -->

<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="6" aria-label="Slide 7"></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="https://i.postimg.cc/VkRSLbw5/2.png" class="d-block w-100" alt="..." />
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://i.postimg.cc/xjsM1npR/Legolas.png" class="d-block w-100" alt="..." />
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://i.postimg.cc/13PnQrLL/5.png" class="d-block w-100" alt="..." />
    </div>
    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://i.postimg.cc/tXWnPXfk/Legolas.png" class="d-block w-100" alt="..." />
    </div>
    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://i.postimg.cc/XqdqMrxj/13.png" class="d-block w-100" alt="..." />
    </div>
    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://i.postimg.cc/3wfd25dT/8.png" class="d-block w-100" alt="..." />
    </div>
    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://i.postimg.cc/ZYGvfSjY/6.png" class="d-block w-100" alt="..." />
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
<!-- /End of Credit -->

<section>
  <h2 class="text-center mt-5">Popular Brands</h2>
  <div class="container text-center">
    <div class="row mt-5">
      <div class="col-3">
        <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
            src="{% static 'images/ironstudios.png' %}" alt="Popular Brand Iron Studios"></a>
      </div>
      <div class="col-3">
        <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
            src="{% static 'images/prime1studio.png' %}" alt="Popular Brand Prime 1 Studio"></a>
      </div>
      <div class="col-3">
        <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
            src="{% static 'images/wetaworkshop.png' %}" alt="Popular Brand Weta Workshop"></a>
      </div>
      <div class="col-3">
        <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
            src="{% static 'images/asmus-collectible.png' %}" alt="Popular Brand Asmus Collectible"></a>
      </div>
    </div>
  </div>
</section>

<section id="reasons--for--purchase" class="text-center container-fluid">
  <h2 class="pt-5 pb-5">Why Shopping with Us?</h2>
  <!-- Credit: MDB Cards @ https://mdbootstrap.com/docs/standard/components/cards/ -->
  <div class="row">
    <div class="col-4 d-flex align-items-stretch">
      <div class="card mb-5 center w--80">
        <div class="card-header"><i class="fas fa-credit-card pt-2 fa-2x"></i></div>
        <div class="card-body">
          <h5 class="card-title">Secure Payment</h5>
          <p class="card-text">
            Our credit card payment is very secure so you do not worry about providing the details online
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex align-items-stretch">
      <div class="card mb-5 center w--80">
        <div class="card-header"><i class="fas fa-truck pt-2 fa-2x"></i></div>
        <div class="card-body">
          <h5 class="card-title">Express Delivery</h5>
          <p class="card-text">
            We dispatch your product within 2 working days since the order has been made so you won't wait for long till
            you get it.
          </p>
          <p>Click Here to see the cost of delivery</p>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex align-items-stretch">
      <div class="card mb-5 center w--80">
        <div class="card-header"><i class="fas fa-wallet pt-2 fa-2x"></i></div>
        <div class="card-body">
          <h5 class="card-title">Competitive Prices</h5>
          <p class="card-text">
            Our prices are not only cheaper than retail prices but also cheaper than other online shops, so you save
            money for next shopping
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /End of Credit -->
</section>
{% endblock %}