/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.shop--now--btn {
    background-color: #ffdf00;
    top: 4rem;
    color: #000;
    left: 4rem;
	font-size: large;
    position: absolute;
}

.shop--now--btn:hover {
	color: #fff;
}

.vertical--align--middle {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.brand--logo {
	vertical-align: middle;
	width: 7rem;
}

/* Credit: Hover.css @ https://ianlunn.github.io/Hover/ */
/* Float Shadow */
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	   transition-duration: 0.3s;
	-webkit-transition-property: transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}

.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 40%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 40%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	   transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	    transform: translateY(-5px);
	/* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	    transform: translateY(5px);
	/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/* /End of Credit */


/* -- Media Query: Tablet Screen Size Bigger Than 48rem / 768px -- */
@media only screen and (min-width: 48rem) {
	.shop--now--btn {
		top: 6rem;
		left: 4rem;
	}	

	#popular--brand,
	#reasons--for--purchase {
		padding: 2.5rem 0 3.5rem;
	}

	.hvr-float-shadow {
		margin-bottom: 3rem;
	}
}

/* -- Media Query: Desktop Screen Size Bigger Than 62rem / 992px -- */
@media only screen and (min-width: 62rem) {
	
	.shop--now--btn {
		left: 4rem;
	}
	#popular--brand,
	#reasons--for--purchase {
		padding: 2.5rem 0 3.5rem;
	}

	.hvr-float-shadow {
		margin-bottom: 3rem;
	}
}