body {
    box-sizing: border-box;
    color: #333;
    font-family: 'Abril Fatface', 'Roboto' sans-serif;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 0;
    background: url('/static/images/background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/* -- General Settings and Styles -- */

.form-control,
.form-notch-leading,
.form-notch-trailing {
    border-radius: 0 !important;
}

.center {
    margin: 0 auto;
}

.color--55 {
    color: #e7ba55 !important;
}

.color--Hgreen {
    background-color: #2f4b25;
    color: #fbfbfb;
}

.color--e84610 {
    color: #e84610;
}


/* -- base.html -- */
/* Header & Navbar */
.main--header {
    background-color: #231703;
    padding-top: .2rem;
}

.navbar-brand,
.main--logo {
    width: 15rem;   
}

#color-white {
    color: #fbfbfb;
}

.inline {
    display: inline;
    float: right;
}

.icon {
    align-items: center;
    color: #e7ba55;
    display: inline-flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;
}

.vl {
    padding-top: 0.5rem;
}

.shop--now--btn {
    background-color: #ffdf00;
    top: 4rem;
    color: #000;
    left: 2rem;
    position: absolute;
}

.btn-warning {
    background-color: #ffdf00;
    color: #333;
}

/* Footer */
.social--media a {
    color: #231703;
    font-size: 1.5rem;
}

.facebook:hover {
    color: #4267b2;
}

.twitter:hover {
    color: #1da1f2;
}

.instagram:hover {
    color: #833ab4;
}

.youtube:hover {
    color: #ff0000;
}

.btn-outline-light:hover {
    background-color: #fbfbfb;
}

/* -- index.html -- */

h1, h2, h3, h4 {
    font-family: 'Abril Fatface';
    letter-spacing: 0.2rem;
}

.main--alert {
    background-color: rgba(255, 223, 0, 0.7);
    border-radius: 0;
}

.vertical--align--middle {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.brand--logo {
    vertical-align: middle;
    width: 7rem;
}

#reasons--for--purchase {
    background-color: #09572931;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}
