/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

html {
    height: 100%;
}

body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #333;
    font-family: 'Roboto', 'Abril Fatface', sans-serif;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 0;
    background: url('/static/images/background.png') no-repeat center center fixed;
    background-size: cover;
    
}

/* -- General Settings and Styles -- */
.icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    color: #e7ba55;
    height: 3rem;
    width: 3rem;
}

/* from Bulma */
.icon2 {
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    height: 1.1rem;
    width: 1.1rem;
}

.form-control,
.form-notch-leading,
.form-notch-trailing {
    border-radius: 0 !important;
}

.center {
    margin: 0 auto;
}

.color--333 {
    color: #333 !important;
}

.color--55 {
    color: #e7ba55 !important;
}

.color--Hgreen {
    background-color: #2f4b25;
    color: #fbfbfb;
}

.color--e84610 {
    color: #e84610;
}

.bg--color--ffdf00--01 {
    background-color: rgba(255, 223, 0, 0.3);
}

.bg--color--ffdf00-07 {
    background-color:rgba(255, 223, 0, 0.7)
}

.bg--color--000-05 {
    background-color: rgba(0, 0, 0, 0.2);
}

li.no--bullets {
    list-style-type: none;
}


/* -- base.html -- */
/* Header & Navbar */
header {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header--border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main--header {
    background-color: #231703;
    padding-top: .2rem;
}

.main--alert {
	background-color: rgba(255, 223, 0, 0.7);
	border-radius: 0;
}

.alert {
    padding: 0.6rem;
}

.nav-link {
    padding: 0.15rem;
}

.main-logo-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.navbar-brand,
.main--logo {
    width: 15rem;
}

.text-p-icon {
    font-size: .8em;
}

#color-white {
    color: #fbfbfb;
}

.inline {
    display: inline;
    float: right;
}

.vl {
    padding-top: 0.5rem;
}

.btn-warning {
    background-color: #ffdf00;
    color: #333;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Toasts Messages */
.message-container {
    position: fixed;
    right: 1rem;
    top: 5.88rem;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: .25rem;
}

.toast-header {
    font-size: large;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth */
#div_id_login,
#div_id_password,
#div_id_email,
#div_id_email2,
#div_id_username,
#div_id_password1,
#div_id_passwprd2 {
    margin-bottom: 1.5rem;
}

/* Footer */

.footer {
    height: 300px;
    bottom: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.social--media a {
    color: #231703;
    font-size: 1.5rem;
}

.facebook:hover {
    color: #4267b2;
}

.twitter:hover {
    color: #1da1f2;
}

.instagram:hover {
    color: #833ab4;
}

.youtube:hover {
    color: #ff0000;
}

.btn-outline-light:hover {
    background-color: #fbfbfb;
}

.subscription--input {
	border: solid 1px #757575 !important;
}

/* -- index.html -- */

h1,
h2,
h3,
h4 {
    font-family: 'Abril Fatface';
    letter-spacing: 0.2rem;
}

.vertical--align--middle {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.brand--logo {
    vertical-align: middle;
    width: 7rem;
}

#reasons--for--purchase {
    background-color: #09572931;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -- bag.html -- */


/* -- products.html & product_details.html -- */
.badge:hover {
    color: #fff !important;
}

.sort--selector--field {
    text-align: right;
}

#sort-selector {
    border: none;
}

.quantity--selector {
    width: 7rem;
}

.decrement-qty, 
.increment-qty {
    border: none;
    background-color: black;
    color: #fff;
}

.card-img, .card-img-top {
    border-radius: calc(.5rem - 1px);
}

.hover-zoom:hover img, .hover-zoom:hover video {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.on--sale {
    font-size: 1.35rem;
    padding: 0.7rem 1.2rem;
    color: crimson;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.hide {
    display: none;
}

/* -- login.html/register.html -- */

.btn-login,
.btn-register {
    background-color: #0f7508;
    color: #fbfbfb;
    width: 10rem;
    letter-spacing: 0.1rem;
}

.btn-confirm {
    background-color: #0f7508;
    color: #fbfbfb;
    letter-spacing: 0.1rem;
}

.margin--top {
    margin-top: 8.5rem!important;
}

/* -- Media Query: Tablet Screen Size Bigger Than 48rem / 768px -- */
@media only screen and (min-width: 48rem) {
    .category--name {
        font-size: 1.4rem;
    }

    .message--container {
        left: auto;
        position: fixed;
        right: 1rem;
        top: auto;
        width: 25rem;
    }

    .login,
    .password_reset,
    .auth--p,
    .auth--div,
    .add--product {
        width: 50%;
    }
    #signup_form {
        width: 50%;
    }
}

/* -- Media Query: Desktop Screen Size Bigger Than 62rem / 992px -- */
@media only screen and (min-width: 62rem) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 140px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
        text-transform: uppercase;
    }

    .reasons--for--purchase--tabs {
        width: 80%;
    }

    .product--card {
        width: 90%;
    }

    .w--75 {
        width: 75%;
    }

    .w--lg--75 {
        width: 75%;
    }

    .fa-lg {
        line-height: 1.6rem;
    }

    .login,
    .password_reset,
    .auth--p,
    .auth--div,
    .add--product {
        width: 30%;
    }
    #signup_form {
        width: 30%;
    }

    .btn-complete-order {
        width: 48%;
    }

    .error {
        width: 100%;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 66px;
    }

    body {
        height: calc(100vh - 66px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    /* .main--alert {
        margin-top: 0 !important;
    } */

    .navbar-nav .nav-link {
        padding-left: .5rem;
    }
    /* .nav-link {
        padding: 0.15rem;
    } */

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
        color: #fff;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .input-group {
        width: 120%;
        line-height: 1;
    }

    #btn-mobile-search {
        max-block-size: 35px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .increment-qty, .decrement-qty {
        padding: .35rem .5rem !important;
        font-size: 1rem !important;
    }

    .dropdown-menu {
        left: 0!important;
    }

    .margin--top {
        margin-top: 4rem!important;
    }
}