{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<section class="margin--top mb-5 p-4 text-center">
    <h2 class="m-3">{% trans "Logout" %}</h2>

    <p>{% trans 'Are you sure you want to logout?' %}</p>

    
    <div class="row">
      <div class="col-12 text-center">
        <form method="post" action="{% url 'account_logout' %}" class="form-inline justify-content-center">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-confirm mt-4 mb-4" type="submit">{% trans 'Log Out' %}</button>
        </form>
      </div>
    </div>
</section>

{% endblock %}