{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="margin--top mb-5 p-4 text-center">
    <h2 class="m-3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <div class="row">
                <div class="col-12 text-center">
                    <form class="mx-auto mt-3 form-inline justify-content-center password_reset" method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-confirm mt-4 mb-4" type="submit" name="action" value="{% trans 'change password' %}"/>
                    </form>
                </div>
            </div>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</section>
{% endblock %}