{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block extra_title %}
- Register
{% endblock %}

{% block content %}
<section class="mb-5 p-4 text-center">
	<h2 class="m-3">{% trans "Register" %}</h2>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Login</a>.{% endblocktrans %}</p>

  <div class="row">
    <div class="col-12 text-center">
      <form id="signup_form" class="form-inline justify-content-center mx-auto mt-3 text-start" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-register btn-lg mt-4 mb-4" type="submit">{% trans "Register" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
	
</section>
{% endblock %}