{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Error 404
{% endblock %}

{% block content %}
<section class="text-center container margin--top">
    <h2 class="mt-5 mb-5">404<br>Page NOT Found</h2>
    <div>
        <img class="d-lg-none w-75" src="{% static 'images/404-500.png' %}" alt="Error 404 - Page Not Found">
        <img class="d-none d-lg-inline w-25" src="{% static 'images/404-500.png' %}" alt="Error 404 - Page Not Found">
    </div>
    <div class="mb-5 mt-3">
        <a class="btn btn-warning" href="{% url 'home' %}">
            <span>Home</span>
        </a>
    </div>
</section>
{% endblock %}