{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Error 404
{% endblock %}

{% block content %}
<section class="text-center container">
    <h2 class="mt-5">500<br>Server ERROR</h2>
    <div>
        <img class="d-lg-none w-75" src="{% static 'images/404-500.png' %}" alt="Error 500 - Server Error">
        <img class="d-none d-lg-block w-25" src="{% static 'images/404-500.png' %}" alt="Error 500 - Server Error">
    </div>
    <div class="mb-5 mt-3">
        <a class="btn btn-warning" href="{% url 'home' %}">
            <span>Home</span>
        </a>
    </div>
</section>
{% endblock %} 