.c--1 {
    width: 20%;
}

.bag--product--image {
    width: 100%;
}

.bag--product--image--mob {
    width: 50%;
}

.qty--update {
    margin-right: 0.5rem;
}

.qty--remove {
    margin-left: 0.5rem;
}

.category--img {
    width: 8rem;
}

.btn-outline-black {
    color: #262626;
    border-color: #000;
    width: 18rem;
    background-color: floralwhite;
}

.btn-black {
    color: floralwhite;
    background-color: #000;
    width: 18rem;
    border: solid;
}