{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Credit: Bootstrap Alerts @ https://getbootstrap.com/docs/5.0/components/alerts/ -->
<div class="alert alert-warning text-center mb-0 main--alert" role="alert">
    Spend <span class="font-weight-bold">&#128;{{ free_collectible_threshold }}</span> or more and get a Special Collecrible for 
    <span class="font-weight-bold text-uppercase">free</span>!
</div>
<!-- /End of Credit -->

<section class="text-center container w--80">
    <h2 class="mt-5">Individual Product</h2>
    <!-- Credit: MDB Masks @ https://mdbootstrap.com/docs/standard/content-styles/masks/ -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" />
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                </div>
                <div class="card-footer">
                    <p>€{{ product.price }}</p>
                    <small class="text-muted">{{ product.category }}</small>
                </div>
            </div>
        </div>
    </div>
    <!-- /End of Credit -->
</section>
{% endblock %} 