{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Products
{% for c in current_categories %}
    {% if c.name == 'collectible_figure' and 'figures_of_fandom' and 'vinyl_figure' %}
    - Figures
    {% elif c.name == '1:10_scale_statue' and '1:6_scale_statue' and '1:4_scale_statue' and 'miniature_statue' %}
    - Statues
    {% elif c.name == 'jewellery' and 'prop_replica' and 'helm' %}
    - Jewerly & Others
    {% endif %}
    {% endfor %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<!-- Credit: Bootstrap Alerts @ https://getbootstrap.com/docs/5.0/components/alerts/ -->
<div class="alert alert-warning text-center mb-0 main--alert" role="alert">
    Spend <span class="font-weight-bold">€{{ free_collectible_threshold }}</span> or more and get a Special Collecrible for 
    <span class="font-weight-bold text-uppercase">free</span>!
</div>
<!-- Products Display -->
<section class="container text-center {% if products|length < 1 %}mb-5{% endif %}">
    {% if current_categories == None and sale != True %}
        <h2 class="mt-5">All Products</h2>
    {% elif sale == True %}
        <h2 class="mt-5">Sale</h2>
    {% endif %}
<!-- By Categories -->
    {% for c in current_categories %}
    {% if c.name == 'collectible_figure' and 'figures_of_fandom' and 'vinyl_figure' %}
        <h2 class="mt-5">Figures</h2>
    {% elif c.name == '1:10_scale_statue' and '1:6_scale_statue' and '1:4_scale_statue' and 'miniature_statue' %}
        <h2 class="mt-5">Statues</h2>
    {% elif c.name == 'jewellery' and 'prop_replica' and 'helm' %}
        <h2 class="mt-5">Jewerly & Others</h2>
    {% endif %}
    {% endfor %}
<!-- By Brands -->
    {% for b in current_brands %}
    {% if b.name == 'iron_studios' %}
        <h3 class="mt-3 text-muted font-weight-bold">Iron Studios</h3>
    {% elif b.name == 'prime_1_studio' %}
        <h3 class="mt-3 text-muted font-weight-bold">Prime 1 Studio</h3>
    {% elif b.name == 'weta_workshop' %}
        <h3 class="mt-3 text-muted font-weight-bold">Weta Workshop</h3>
    {% elif b.name == 'asmus' %}
        <h3 class="mt-3 text-muted font-weight-bold">Asmus</h3>
    {% endif %}
    {% endfor %}
    <!-- Search Feature -->
    <div>
        <p class="text-muted mt-3 text-center text-md-left">
            {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
            {% endif %}
            {{ products|length }}
            {% if products|length > 1 %} 
                Products
            {% else %} 
                Product
            {% endif %} 
            {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
        </p>
    </div>
    <div class="mt-3 category--name">
        {% for c in current_categories %}
        <a class="badge rounded-pill bg-success" href="{% url 'products' %}?category={{ c.name }}">
            <span class="p-1 p-md-3 mt-2">{{ c.friendly_name }}</span>
        </a>
        {% endfor %}
    </div>
    <!-- Product Sort -->
    {% if products|length > 1 %}
        <div class="mt-3 mt-lg-0 sort--selector--field">
            <i class="fas fa-filter"></i>
            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price Low to High</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price High to Low</option>
                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category A - Z</option>
                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category Z - A</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Product A - Z</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Product Z - A</option>
            </select>
        </div>
    {% endif %}
    <!-- Product Card -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card h-100">
                {% if product.image %}
                <a class="hover-zoom" href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body mt-2">
                    <div class="fs-5 card-title">{{ product.name }}</div>
                </div>
                <ul class="mt-2 mb-3 list-group list-group-flush ">
                    <li class="fs-5 {% if not product.is_discount %}font-weight-bold{% endif %}">
                        {% if product.is_discount %}
                            <s>Price: €{{ product.price }}</s>
                        {% else %}
                            Price: €{{ product.price }}
                        {% endif %}
                    </li>
                    {% if product.is_discount %}
                    <li class="fs-5 on--sale font-weight-bold text-uppercase">Sale: €{{ product.discount_price }}</li>
                    {% endif %}
                    <li class="text-muted">{{ product.category.friendly_name }}</li>
                </ul>
                <!-- SuperUser features -->
                {% if request.user.is_superuser %}
                <div class="card-footer">
                    <a class="card-link" href="{% url 'edit_product' product.id %}">Edit</a>
                    <a class="card-link color--e84610" href="{% url 'delete_product' product.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Button Back to the Top -->
    {% if products|length > 1 %}
        <div id="myBtn" class="btt--button">
            <a class="btt--link">
                <i class="far fa-caret-square-up fa-2x color--e84610"></i>
            </a>	
        </div>
    {% endif %}
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Credit: W3Schools @ https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top -->
    <script>
        /*jshint esversion: 6 */

        const mybutton = document.getElementById("myBtn");
        
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
        if (document.body.scrollTop > 350 || document.documentElement.scrollTop > 350) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }
        
        $('.btt--link').click(function (e) {
            window.scrollTo(0, 0)
        });
    </script>
    <!-- /End of Credit -->
    <script>
        /*jshint esversion: 6 */
        
        $('#sort-selector').change(function () {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if (selectedVal != "reset") {
                let sort = selectedVal.split("_")[0];
                let direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %} 